body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    z-index: 999;
}

.bg {
    width: cover;
    opacity: .3;
    position: absolute;
    z-index: -1;
}

h1, h2, h3 {
    font-family: "Carter One", sans-serif;
}

h2 {
    color: #3046c5;
}

header h2 {
    color: #cec8ff;
}

footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
    color: white;
}

.none, .none:link, .none:visited  {
    color: white;
    text-decoration: none;
}

.none:hover {
    color: aqua;
    opacity: .3;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}